<div class="forgotPassword">
    <div class="row">
      <mat-toolbar class="Heading d-flex justify-content-between">
        <span>{{data}}</span>
        <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
      </mat-toolbar>
  
      <div *ngIf="showUserId">
  
        <form [formGroup]="ForgotPasswordForm" class="row justify-content-center gap-3 mt-3">
          <mat-form-field class="col-6" appearance="outline">
            <mat-label>UserId</mat-label>
            <input matInput type="text" formControlName="UserId">
            <mat-error *ngIf="ForgotPasswordForm.get('UserId')?.hasError('required') && ForgotPasswordForm.get('UserId')?.touched">
              UserId is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="data == 'Forgot Password'" class="col-6" appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput type="email" formControlName="Email">
            <mat-error *ngIf="ForgotPasswordForm.get('Email')?.hasError('required') && ForgotPasswordForm.get('Email')?.touched">
              Email is Required
            </mat-error>
            <mat-error *ngIf="ForgotPasswordForm.get('Email')?.hasError('email')">
              Enter Valid Email
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="data == 'Change Password'" class="col-6" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="Password">
            <mat-error *ngIf="ForgotPasswordForm.get('Password')?.hasError('required') && ForgotPasswordForm.get('Password')?.touched">
              UserId is Required
            </mat-error>
          </mat-form-field>
        </form>
  
        <div class="d-flex justify-content-end gap-3">
          <!-- <div>
            <span *ngIf="data == 'Change Password'" class="forgot-btn" mat-dialog-close="Forgot Password">Forgot Password?</span>
          </div>
          <div class="d-flex gap-3"> -->
            <button mat-raised-button class="cancel-btn" mat-dialog-close>Cancel</button>
            <!-- <button *ngIf="data == 'Change Password'" mat-raised-button class="cancel-btn" mat-dialog-close="Change Password">Cancel</button> -->
            <button *ngIf="data == 'Forgot Password'" mat-raised-button class="save-btn" (click)="sendMail()">Send Mail</button>
            <button *ngIf="data == 'Change Password'" mat-raised-button class="save-btn" (click)="confirm()">Confirm</button>
          <!-- </div> -->
        </div>
  
      </div>
  
      
      <div *ngIf="showOtp" class="row justify-content-center mt-5">
        <div class="d-flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>OTP</mat-label>
            <input matInput #otp type="text">
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end gap-3">
          <button mat-raised-button class="cancel-btn" mat-dialog-close>Cancel</button>
          <button mat-raised-button class="save-btn" (click)="submit(otp.value)">Submit</button>
        </div>
      </div>
  
      <div *ngIf="showPassword">
        <div>
          <span><b>Note : </b> Password contain Minimum 10 Characters, 1 UpperCase, 1 Special Character (?=.*[!@#$%^&*_=+-]), 1 Numerical.</span>
        </div>
        <div class=" d-flex justify-content-center">
          <form [formGroup]="changePasswordGroup" class="row justify-content-center gap-3 mt-3">
                <mat-form-field class="col-8" appearance="outline">
                  <mat-label> New Password</mat-label>
                  <input matInput type="password" formControlName="newPassword">
                  <mat-error *ngIf="changePasswordGroup.get('newPassword')?.hasError('required') && changePasswordGroup.get('newPassword')?.touched">
                    New Password is Required
                  </mat-error>
                  <mat-error *ngIf="changePasswordGroup.get('newPassword').errors?.pattern">
                    Password should contain one UpperCase, LowerCase, number, Special Character Letters
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-8" appearance="outline">
                  <mat-label> Confirm Password</mat-label>
                  <input matInput type="password" formControlName="confirmPassword">
                  <mat-error *ngIf="changePasswordGroup.get('confirmPassword')?.hasError('required') && changePasswordGroup.get('confirmPassword')?.touched">
                    Confirm Password is Required
                  </mat-error>
                </mat-form-field>
             </form> 
         </div>
         <div class="d-flex justify-content-end gap-3">
          <button mat-raised-button class="cancel-btn" mat-dialog-close>Cancel</button>
          <!-- <button *ngIf="data == 'Change Password'" mat-raised-button class="cancel-btn" mat-dialog-close="Change Password">Cancel</button> -->
          <!-- <button mat-raised-button class="cancel-btn" [mat-dialog-close]="data">Cancel</button> -->
          <button mat-raised-button class="save-btn" (click)="save()">Save</button>
         </div>
      </div>
  
    </div>
  </div>