
.forgotPassword{

    height: 320px;

    .row
    {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .Heading{
        font-size: 22px;
        font-weight: bolder;
        background-color: orange;
        color: white;
        font-weight: 400;
    }

    .save-btn
    {
        background-color: rgb(44, 155, 44) !important;
        color: white !important;
    }

    .cancel-btn
    {
        background-color: rgb(236, 58, 58) !important;
        color: white !important;
    }

    .forgot-btn
    {
        color: rgb(107, 102, 94);
        font-weight: bold;
    }

}