<!-- <div class="header-container">
  <div class="logo-container">
    <img src="/assets/images/contiLogoVector.png" alt="ContiLogo" width="160px" height="76px">
    <div class="logo me-5">
       <span>VENDOR-ADVANCE</span>
    </div>
    <div class="ms-5 d-flex gap-5 menu-items justify-content-center align-item-center">
      <Span class="menu-list" routerLink="/pages/vendoradvancepages/dashboard" routerLinkActive="active"> Dashboard</Span>
      <Span class="menu-list" routerLink="/pages/vendoradvancepages/advancerequesttracker" routerLinkActive="active" *ngIf="role == 'I'"> AdvanceRequestTracker</Span>
    </div>
  </div>
</div>

<div class="col-2 d-flex justify-content-end header-container">

  <div [matMenuTriggerFor]="menu" class="menu-item d-flex align-items-center gap-2">
    <div class="user-logo d-flex justify-content-center align-items-center"> {{userFirstLetter}} </div>
    <div class="user-title d-flex align-items-center">{{user}}</div>
    <mat-menu #menu="matMenu" class="d-flex justify-content-center">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        Log Out
      </button>
  </mat-menu>
  </div>

</div> -->



<nav id="mainNavbar" class="navbar navbar-expand-lg-none fixed-top">

  <div class="row ps-2 w-100">

    <div class=" col-2  d-inherit d-md-none justify-content-center align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col-10 col-md-5 d-flex gap-3">
      <div><img src="/assets/images/contiLogoVector.png" alt="ContiLogo" width="160px" height="50px"></div>
      <div class="nav-title d-flex align-items-center">Vendor Advance</div>
    </div>
    
    <div class="col-5 d-none d-md-block">
      <div class="nav-item d-flex mt-3 gap-5">
        <div class="nav-link" routerLink="/pages/vendoradvancepages/dashboard" routerLinkActive="active"> Dashboard</div>
        <div class="nav-link" routerLink="/pages/vendoradvancepages/advancerequesttracker" routerLinkActive="active" *ngIf="role == 'I'"> AdvanceRequestTracker</div>
      </div>
    </div>

    <div class="col-2 d-md-block d-none">

      <div class="d-flex justify-content-end mt-2 header-container">
      
        <div [matMenuTriggerFor]="menu" class="menu-item d-flex align-items-center gap-2">
          
          <div class="user-logo d-flex justify-content-center align-items-center"> {{userFirstLetter}} </div>
          <div class="user-title d-flex align-items-center">{{user}}</div>

          <mat-menu #menu="matMenu" class="d-flex justify-content-center">
            <div class="mat-menu">
              <button mat-menu-item routerLink="/pages/vendoradvancepages/master-data-upload" *ngIf="role == 'AD'">
                <mat-icon>cloud_upload</mat-icon>
                <div class="text">Master Data Upload</div>
              </button>
              <button mat-menu-item (click)="changePassword()">
                <mat-icon>account_circle</mat-icon>
                <div class="text">Change Password</div>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <div class="text">Log Out</div>
              </button>
            </div>
          </mat-menu>

        </div>
    
      </div>

    </div>

  </div>

    <div id="navbarSupportedContent"  [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <div class="row d-inherit d-md-none nav-content justify-content-center gap-4 p-3">
        <div class="menu-link d-flex justify-content-center" routerLink="/pages/vendoradvancepages/dashboard" routerLinkActive="active1"> Dashboard</div>
        <div class="menu-link d-flex justify-content-center" routerLink="/pages/vendoradvancepages/advancerequesttracker" routerLinkActive="active1" *ngIf="role == 'I'"> AdvanceRequestTracker</div>
        <div class="menu-link d-flex justify-content-center" (click)="changePassword()" routerLinkActive="active1">Change Password</div>
        <div class="menu-link d-flex justify-content-center" (click)="logout()">Log Out</div>
      </div>
    </div>

</nav>