.login{
    height: 100vh;
    background: url("/assets/images/Electronics_Header.png");
    background-repeat: no-repeat;
    background-size:cover;
 
 .formField{
      height: 25px !important;
 }

 mat-card{

    background-color: rgba(255, 255, 255, 0.859);

  }

 .title
 {
     font-size: 20px;
     font-weight: bold;
     line-height: 1.33;
     letter-spacing: 0.72px;
     font-family :Verdana, Geneva, Tahoma, sans-serif;
     color: black;
 }
 .HeadingTitle{
     font-size: 22px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.33;
     letter-spacing: 0.52px;
     text-align: left;
     color: rgb(255, 136, 0);
 }
 .forgot
 {
     color: blue;
     cursor: pointer;
     font-size: 12px;
     font-weight: 700;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }     
 .forgot:hover{
     color: orange;
 }
 
 button
 {
     width: 50%;
     background-color: rgb(241, 136, 16);
     color: white;
     font-size: 15px;
     box-shadow: 0 2px 6px 0 rgba(31, 0, 158, 0.16);
     border-radius: 40px;
 }
}


.login-btn
{
    background-color: rgb(241, 136, 16) !important;
    color: white !important;
}


.userActivationDialog
{
    background: rgba(128, 128, 128, 0.61);
}